@charset "UTF-8";
/*Variables Globales*/
/*Mixins*/
/*Variable Local*/
/*CSS*/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Serif", sans-serif;
}

body {
  background-color: antiquewhite;
}
body .header {
  font-family: "Roboto Serif", sans-serif;
}

h2 {
  color: #966536;
  font-family: "Roboto Serif", sans-serif;
}

.mediotamaño {
  display: flex;
  width: 80%;
  justify-content: center;
  border: 2px solid #966536;
  filter: drop-shadow(8px 8px 10px grey);
}

.lista2 {
  color: rosybrown;
}

@media (min-width: 100px) {
  .galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .medio {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  #principio {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
  }

  .ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 0rem;
    font-size: 20px;
  }

  .footWord {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 520px) {
  .galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .medio {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  #principio {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
  }

  .ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 0rem;
    font-size: 20px;
  }

  .section {
    display: flex;
    flex-direction: column;
  }

  .footWord {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 728px) {
  .galeria {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .medio {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  #principio {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    font-size: 23px;
  }

  .ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 0rem;
    font-size: 20px;
  }

  .section {
    display: flex;
    flex-direction: column;
  }

  .footWord {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .galeria {
    display: flex;
    flex-direction: row;
  }

  .medio {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    width: 80%;
    margin: 2rem auto 2rem auto;
  }

  #principio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
  }

  .ul {
    display: flex;
    flex-direction: row;
    margin-right: 5rem;
  }

  .section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footWord {
    display: flex;
    flex-direction: row;
  }
}
#principio {
  border: 1px solid #966536;
  padding: 0.5rem;
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  background-color: #FBDA61;
  background-image: linear-gradient(45deg, #FBDA61 20%, #FF5ACD 120%);
}
#principio #princi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#principio #princi #imagenCC {
  width: 20rem;
  height: 10rem;
  display: flex;
}
#principio header {
  margin: 1px;
  display: flex;
  align-self: center;
}
#principio header .ul {
  list-style: none;
  display: flex;
  padding-left: 0;
}
#principio header .ul a {
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid white;
  display: flex;
  margin: 0.5rem 1rem 0.5rem 1rem;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  justify-content: space-around;
}
#principio header .ul a:hover {
  color: white;
  font-weight: 600;
  transform: scale(1.2, 1.2);
}
#principio header .ul a:hover:active {
  border-top: 1px solid #966536;
  border-bottom: 1px solid #966536;
}

.medio {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  width: 80%;
  margin: 2rem auto 2rem auto;
}
.medio aside {
  display: flex;
  filter: drop-shadow(8px 8px 10px grey);
  border: 1px solid #966536;
}
.medio aside .section__aside {
  background-color: #FBAB7E;
  background-image: linear-gradient(90deg, #FBAB7E 0%, #F7CE68 100%);
  color: white;
}
.medio aside .section__aside ul {
  padding: 0;
}
.medio aside .section__aside ul li {
  line-height: 5;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
  list-style: none;
}
.medio aside .section__aside ul li:hover {
  color: white;
  height: 10rem;
  transition: height 2s;
  background-color: burlywood;
  cursor: pointer;
}

.mid--prode {
  text-align: center;
  font-weight: 100;
  width: 80%;
  margin: auto;
  background-color: #FBAB7E;
  border-top: 1px solid #966536;
  border-right: 1px solid #966536;
  border-left: 1px solid #966536;
}

.galeria {
  width: 80%;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  row-gap: 1rem;
  background-color: #FBAB7E;
  border: 1px solid #966536;
  justify-items: center;
  justify-content: center;
}
.galeria .card:hover {
  transform: scale(1.05);
}
.galeria .colorc {
  background-color: #967d62;
}
.galeria .colorc .boton {
  background-color: #966536;
  border: 0;
}
.galeria .colorc .boton:hover {
  background-color: #966536;
}

.mid {
  text-align: center;
  width: 80%;
  margin: auto;
  border: 1px solid #966536;
  filter: drop-shadow(8px 8px 10px grey);
  background-color: #FBAB7E;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.mid .mid--prod {
  text-align: center;
  font-weight: 100;
  word-spacing: 10px;
  width: 80%;
  margin: auto;
  background-color: #FBAB7E;
}
.mid .mid--faq {
  font-weight: 100;
  font-size: 28px;
}
.mid .mid--faqL {
  padding-left: 8rem;
  padding-right: 8rem;
  font-size: 15px;
}

form {
  border: 1px solid #966536;
  filter: drop-shadow(8px 8px 10px grey);
}

.formu {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 20px;
  width: 80%;
  margin: auto;
  color: #966536;
  font-weight: 500;
  background-color: #FBAB7E;
}
.formu input, .formu textarea {
  width: 40%;
  padding: 0.7em;
  border: none;
}
.formu .buttom {
  width: 20%;
  background-color: chocolate;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: all 0.5s ease;
  cursor: pointer;
  font-size: 15px;
}
.formu .buttom:hover {
  background-color: #966536;
}

.section {
  background-color: #FBDA61;
  background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 120%);
  padding: 1rem;
  border: 1px solid #967d62;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-areas: "contact" "C" "redes";
}
.section h4 {
  font-size: 25px;
  text-decoration: underline;
}
.section h5 {
  color: white;
}
.section h5:hover {
  color: black;
}

.footWord {
  grid-area: contact;
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footWord h4 {
  font-size: 25px;
  text-decoration: underline;
}
.footWord ul li {
  list-style: none;
}
.footWord ul li img {
  width: 2rem;
  margin: 0.5rem;
}

.contacto {
  grid-area: contact;
  grid-column: 3;
  grid-row: 1;
  align-self: center;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto h4 {
  font-size: 25px;
  text-decoration: underline;
}
.contacto ul li {
  list-style: none;
}
.contacto ul li img {
  width: 2rem;
  margin: 0.5rem;
}

.h33 {
  width: 100%;
  grid-area: C;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 10px;
}

.navegacion {
  display: flex;
  grid-area: nave;
  justify-content: center;
}
.navegacion ul li {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 300;
}
.navegacion h4 {
  font-weight: 500;
}

.bg-color-cc11 {
  background-color: #FBAB7E;
}/*# sourceMappingURL=style.css.map */