/*Pagina Principal*/

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

h1{
    color: #966536;
    animation-duration: 2s;
    animation-name: aparecerT;


}


@keyframes aparecerT{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

h2{
    color: #966536;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: antiquewhite;
}

.header{
    font-family: "Montserrat", sans-serif;
    
}

#princi{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#principio{
    border: 1px solid #966536;
    padding: 0.5rem;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: center;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 20%, #FF5ACD 120%);

}

#imagenCC{
    width: 20rem; 
    height: 10rem; 
    display: flex;
}


.header__title{
    display: flex;
    text-align: center;
    font-weight:500;
    margin: 5px; 
    margin: 0;
    align-self: center;
    justify-content: center;
    filter: drop-shadow(2px 2px 3px #966536);
    
}

header{
    margin: 1px;
    display: flex;
    align-self:  center;
    
}


ul{
    list-style: none;
}

.ul{
    list-style: none;
    display: flex;
    
}

a{
    color: #966536;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    justify-content: space-around;
    
}

a:hover{
    color: #966536;
    font-weight: 600;
    transform: scale(1.2,1.2);
    
}
a:active{
    border-top: 1px solid #966536;
    border-bottom: 1px solid #966536;
}


.medio{
    display: grid;
    grid-template-areas: 
    "aside"
    "imagenP";
    grid-template-columns: 18rem 65rem;
    grid-template-rows: 53rem;
    background-color: antiquewhite;
    justify-content: space-between;
    align-items: center;
    grid-gap: 25px;
}
 

.imaPrin{
    display: grid;
    grid-area: imagenP;
    filter: drop-shadow(8px 8px 10px grey);
}

.slider{
    border: 1px solid #966536;
    overflow:hidden;
}

.slider figure{
    position: relative;
    width: 500%;
    left: 0;
    animation: 20s slider infinite;
}

.slider figure img{
    width: 20%;
    float: left;
}

@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -100%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -200%;
    }
    95%{
        left: -200%;
    }
    100%{
        left: -300%;
    }
}

aside{
    display: grid;
    grid-area: aside;
    filter: drop-shadow(8px 8px 10px grey);
    height: 93%;
    border: 1px solid #966536;
}

.section__aside{
    background-color: #FBAB7E;
    background-image: linear-gradient(90deg, #FBAB7E 0%, #F7CE68 100%);
    color: #966536;
}

.section__aside ul li{
    text-align: center;
    line-height: 4;
}

.section__aside ul li:hover { 
    color: white;
    height: 10rem;
    transition: height 2s;
    background-color: burlywood;
      
} 

.section{
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 120%);
    padding: 1rem;
    border: 1px solid #967d62;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-row: 500px;
    grid-template-areas: 
    "nave"
    "contact"
    "redes";
}

.footWord {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;
    grid-area: redes;
}

.footWord li:hover{
    color: white;
}

.footWord li a{
    margin: 1px;
    width: 4rem;
    height: 4rem;
}

/*Fin de Pagina Principal*/

table{
    text-align: center;
}

.lista2{
    color: rosybrown;
}


.section h5{
    color: white;
}

.section h5:hover{
    color: black;
}

.mid{
    text-align: center;
    word-spacing: 2px;
    letter-spacing:1px;
    line-height: 3;
    width: 100%;
    border: 1px solid #966536;
    filter: drop-shadow(8px 8px 10px grey);
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.mid--faq{
    font-weight: 400;
}

.mid--faqL{
    font-weight: 500;
    padding-left: 250px;
    padding-right: 250px;
}

.mid--prod{
    text-align: center;
    font-weight: 100;
    word-spacing: 10px;
    letter-spacing:2px;
    line-height: 3;
    width: 100%;
    border-top: 1px solid #966536;
    border-left: 1px solid #966536;
    border-right: 1px solid #966536;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}



/*
MEDIA QUERIES
*/
@media (min-width: 768){
    .header{
        width: 80%;
    }
    .ul{
        display: block;
    }
}

/*Seccion productos*/

.imagen{
    width: 100%;
    
}

.imagen img{
    width: 95%;
    height: 27rem;
    border-radius: 20px;
    margin: 0.5rem 0 1rem 0.5rem;
}

.imagen img:hover{
    transform: scale(1.1);
}

.galeria{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.5rem;
    row-gap: 1rem;
    background-color: #FBAB7E;
    border: 1px solid #966536;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

@media (min-width: 100px){
    .galeria {
        grid-template-columns: repeat(1, 1fr);
    }
    .medio{
        grid-template-columns: repeat(1,1fr);
    }
    .principio{
        display: flex;
        flex-direction: column;
    }
    .ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .section{
        display: flex;
        flex-direction: column;
    }

}
@media (min-width: 520px){
    .galeria{
        grid-template-columns: repeat(2, 1fr);
    }
    .medio{
        grid-template-columns: repeat(1,1fr);
    }
    .principio{
        display: flex;
        flex-direction: column;
    }
    .ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .section{
        display: flex;
        flex-direction: column;
    }

}
@media (min-width:728px) {
    .galeria{
        grid-template-columns: repeat(3, 1fr);
    }
    .medio{
        grid-template-columns: repeat(1,1fr);
    }
    .principio{
        display: flex;
        flex-direction: column;
    }
    .ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .section{
        display: flex;
        flex-direction: column;
    }

}

@media (min-width: 1024px){
    .galeria{
        grid-template-columns: repeat(4, 1fr);
    }
    .medio{
        grid-template-columns: 18rem 65rem;
        grid-template-rows: 53rem;
    }
    .principio{
        display: flex;
        flex-direction: row;
    }
    .ul{
        display: flex;
        flex-direction: row;
    }
    .section{
        display: grid;
        grid-template-columns: repeat(3, 2fr); 
    }
    
    
}

.navegacion{
    display: flex;
    grid-area: nave;
    justify-content: center;
}

.navegacion ul li{
    font-size: 16px;
    display: flex;
    flex-direction:column;
    color: black;
    font-weight: 100;
}

.navegacion h4{
    font-weight: 500;
}

.contacto{
    grid-area: contact;
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    justify-content: center;
    
}

.contacto ul li img{
    width: 18px;
}
form{
    border: 1px solid #966536;
    filter: drop-shadow(8px 8px 10px grey);
}

.formu{
    padding-top:2rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 20px;
    width: 100%;
    color: #966536;
    font-weight: 500;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.formu input,
.formu textarea{
    width: 40%;
    padding: 0.7em;
    border: none;
}

.formu .buttom{
    width: 20%;
    background-color: chocolate;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 0.5s ease;
    cursor: pointer;
}

.formu .buttom:hover{
    background-color: #966536;
}

.tabla{
    border: 1px solid #966536;
    width: 100%;
    height: 60vh;
}

.tabla td{
    padding: 10px;
}

.tabla tr th{
    text-transform: uppercase;
}

.cent{
    display: flex;
    justify-content: center;
}


