.section{
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 120%);
    padding: 1rem;
    border: 1px solid #967d62;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-areas: 
    "contact"
    "C"
    "redes";
    h4{
        font-size: 25px;
        text-decoration:underline;
    }
    h5{
        color: white;
        &:hover{
        color: black;
        }
    }
}

.footWord {
    grid-area: contact;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4{
        font-size: 25px;
        text-decoration:underline;
    }
    ul li {
        list-style: none;
        img{
            width: 2rem;
            margin: 0.5rem;
        }
    }
}

    
.contacto{
    grid-area: contact;
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4{
        font-size: 25px;
        text-decoration:underline;
    }
    ul li {
        list-style: none;
        img{
            width: 2rem;
            margin: 0.5rem;
        }
    }
}
    
.h33{
    @include ancho($width);
    grid-area: C;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 10px;
}
