.cent{
    display: flex;
    justify-content: center;
    table{
        text-align: center;
        .tabla{
            border: 1px solid $colorMarronO;
            width: $width;
            height: 60vh;
            td{
                padding: 10px;
            }
            tr th{
                text-transform: uppercase;
            }
        }
    }
}

.navegacion{
    display: flex;
    grid-area: nave;
    justify-content: center;
    ul li{
        font-size: 16px;
        display: flex;
        flex-direction:column;
        color: black;
        font-weight: 300;
    }
    h4{
        font-weight: 500;
    }
}